ul.datos-personales{
    list-style-type: none;
}

.subrtitulos-de-datos{
    font-weight: bold;
}

.texto-respuesta{

    display: inline;
}
h1, h3{
    
    background-color:rgb(255, 235, 205);
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1{
    text-align: center;
}


#foto-presentacion{
    display:block;
    margin:auto;
    width: 150px;
}

header{
    background-color:rgba(255, 235, 205,0.2);
}
span.texto-respuesta{
    margin-left: 86px;
}
footer{
    align-items: center;
    background-color: rgb(255, 235, 205);
    display:flex;
}
.social{
    width: 20px ;
    margin: 2px;
}
.texto-pie{
    display:block;
    margin:auto;
}

